<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cosplay</title>
    <link rel="stylesheet" href="css/styles.css"/>
</head>
<body>
    <header class="head-main" >
        <section class="topbar">
            <div class="container">
                <div class="row">
                    <div class="block">
                        <div class="country">
                            " Country: "
                            <div class="dropdown country">
                                <button class="dropbtn">
                                    " Props MX "
                                    <svg>
                                        <path></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="language">
                            " Language: "
                            <div class="dropdown language">
                                <button class="dropbtn">
                                    " Spanish "
                                    <svg>
                                        <path></path>
                                    </svg>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="menu-display">
            <div class="aling-tems">
                <div class="logo">
                    <div id="logo" class="logo-img-container">
                        <a href="index.html" title>
                            <img src="" class="logo-img">
                        </a>
                    </div>
                </div>
                <div class="cont-search-header">
                    <form class="search-form">
                        <div class="form-group">
                            <input class="search_input" autocomplete="off" type="search" name="q" placeholder="search..."></input>
                            <button class="search-submit">
                                <svg class="icon" viewbox="0 0 30.9 31.2">
                                    <path></path>
                                </svg>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="nav-desktop">
                    <ul class="nav-desktop-list">
                        <li class="home">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="../index.html">
                                    Home
                                </a>
                            </div>
                        </li>
                        <li class="all">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="all.html">
                                    All models
                                </a>
                            </div>
                        </li>
                        <li class="about">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="about.html">
                                    About
                                </a>
                            </div>
                        </li>
                        <li class="cosplay">
                            <div class="nav-item-container">
                                <a hclass="nav-list-link" href="cosplay.html">
                                    Cosplay models
                                </a>
                            </div>
                        </li>
                        <li class="movies">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="movies.html">
                                    Movies models
                                </a>
                            </div>
                        </li>
                        <li class="videogames">
                            <div class="nav-item-container">
                                <a class="nav-list-link" href="videogames.html">
                                    Videogames models
                                </a>
                            </div>
                        </li>
                    </ul>
                </div>  
            </div>
        </div>
    </header>
    <section class="grilla">
        <div class="container">
            <div class="row">
               <div class="col">
                <h3>Cosplay</h3>
                <div class="extract-products">
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                    <div class="item-product">
                        <img src="" alt="" class="props">
                    </div>
                </div>
               </div> 
            </div>
        </div>
    </section>
    <a href="views/all.html" class="more">
        More
        <i class="angle-right" aria-hidden="true">
            >
        </i>
    </a>
    <footer class="footer-while-scrolling">
        <div class="footer">
            <ul class="footer-menu">
                <li class="menu-item">
                    <img src="" alt="" class="instagram">
                    <a href="" class="footer-menu-link">Instragam</a>
                </li>
                <li class="menu-item">
                    <img src="" alt="" class="phone">
                    <a href="" class="footer-menu-link">Phone</a>
                </li>
                <li class="menu-item">
                    <img src="" alt="" class="email">
                    <a href="" class="footer-menu-link">Email</a>
                </li>
                <li class="menu-item">
                    <img src="" alt="" class="facebook">
                    <a href="" class="footer-menu-link">Facebook</a>
                </li>
                <li class="menu-item">
                    <img src="" alt="" class="whatsapp">
                    <a href="" class="footer-menu-link">Whatsapp</a>
                </li>
            </ul>
        </div>
    </footer>
</body>
</html>