
body{
    margin:0;
    background-color: #eee;
}
.navbar{
    margin: 0px;
    border: 0;
}
.navbar-content{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
}

.navbar li{
    float: left;
}

.navbar li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.navbar li:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.active{
    background-color: #4CAF50;
}

.slider-container {
    padding-top: 35px;
    overflow: hidden; 
}/* las imágenes no van a salir del márgen de la pantalla*/
.slider-container figure img { 
    width: 20%; float: left; 
}
.slider-container figure { 
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  animation: 30s slidy infinite; /*el movimiento se va a mantener de forma indefinida -infinito-*/
}

/*esta parte del código define el movimiento de las imágenes a la izquierda*/
@keyframes slidy {
0% { left: 0%; }
20% { left: 0%; }
25% { left: -100%; }
45% { left: -100%; }
50% { left: -200%; }
70% { left: -200%; }
75% { left: -300%; }
95% { left: -300%; }
100% { left: -400%; }
}

.tittle{
    font-weight: 500;
    font-size: 1.5em;
    /* em es la unidad de los exploradores 
    por lo general 1em es de 16 pixeles, segun la configuracion del ussuario*/
    color: #222fff;
    /* Es mejor usar el hexagecimal en lugar del color */
    text-align: center;
    text-indent: 40px;
    line-height: 1.7;
    word-spacing: 10px;
    text-shadow: 1px 2px 2px rgba(0,0,0,0.3);
}

